body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  font-family: Arial;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
}

.empty {
  visibility: hidden;
}

#display {
  grid-column: span 4;
  background: black;
  color: lime;
  text-align: right;
  padding: 15px;
  font-size: 24px;
  border-radius: 5px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #555;
}

.operator {
  background: orange;
  color: white;
}

.operator:hover {
  background: darkorange;
}

button:nth-child(4n) {
  background: orange;
  color: white;
}